# Q2. 刪除重複性資料

從 symbols01.txt 跟 symbols02.txt 讀入兩組股票代號，合併兩組代號，輸出一份無重複的股票代號到 symbols03.txt。

In [97]:
import os
import pandas as pd
import numpy as np

In [98]:
os.chdir('/Users/alex/Desktop/程式碼＿Python/金融投資Midterm')

In [99]:
list1=pd.read_csv('symbols01.txt',header=None)

In [100]:
list2=pd.read_csv('symbols02.txt',header=None)

In [101]:
print(list1.head())

      0
0  FCCY
1  ACRX
2  ADMP
3  IOTS
4  ADMA

In [102]:
print(list1.head())

      0
0  FCCY
1  ACRX
2  ADMP
3  IOTS
4  ADMA

# 給個column name

In [103]:
df=pd.concat([list1,list2])
df.columns=['Ticker']

In [104]:
df.head()

  Ticker
0   FCCY
1   ACRX
2   ADMP
3   IOTS
4   ADMA

# 找出重複的股票代碼並刪除

In [105]:
loc=df.duplicated('Ticker')

In [106]:
df[loc]

    Ticker
4     IOTS
6     ADES
11    AKTS
12    ABDC
13    ALDX
14    ALLT
17    ASYS
23    ASPU
28    ACFC
29    ATTU
31    AUTO
40    BGFV
45    BRAC
47    BKEP
49    BRQS
57    CPTA
58    CDNA
61    CECE
70    CDTX
74    CLSD
75    CMFN
81    ESXB
85    CNAC
89    CCLP
90    CPIX
94    CTSO
96    DZSI
97    DWCH
98    DWSN
101   DRNA
..     ...
229   NSTG
230   NSSC
238   NEWA
246   OBLN
252   ORMP
255   OTIC
258   FRSH
260   PCMI
261   PCTI
267   PFSW
271   PXLW
274   PRGX
278   PCYO
282   RARX
285   REPH
288   RESN
289   HAIR
313   SITO
316   SORL
319   FUND
330   SNDX
346   TNTR
349   CLUB
359   VEAC
360   VBLT
365   VCEL
370   VOXX
371   VUZI
377   GLDI
381   ZKIN

[94 rows x 1 columns]

In [107]:
newdf=df[-loc]

## 用長度確認一下有沒有刪除重複的

In [109]:
print(len(df))
print(len(newdf))

722
628

## 輸出txt

In [110]:
newdf.to_csv(r'symbols03.txt.txt', header=None, index=None, sep=' ', mode='a')